@model CryptoStats.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<main class="form-signin w-100 m-auto">
    <form method="post" asp-controller="Identity" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">

        <img class="mb-4" src="~/images/login/Allay.webp" alt="" width="120" height="120">
        <h1 class="h3 mb-3 fw-normal">Register</h1>

        <div asp-validation-summary="ModelOnly"></div>       

        <!-- Email input -->
        <div class="form-outline mb-4">
            <input asp-for="Email" type="email" id="loginEmail" class="form-control" />
            <label asp-for="Email" class="form-label" for="loginEmail">Email</label>
            <span class="invalid-feedback" asp-validation-for="Email"></span>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input asp-for="Password" type="password" id="loginPassword" class="form-control" />
            <label asp-for="Password" class="form-label" for="loginPassword">Password</label>
            <span class="invalid-feedback" asp-validation-for="Password"></span>
        </div>               

        <div class="checkbox mb-3">
            <label>
                <input asp-for="RememberMe" class="form-check-input" id="rememberMe" checked />
                <label asp-for="RememberMe" class="form-check-label" for="rememberMe"> Remember me </label>
            </label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
    
    <div class="register mt-3">
        <p>Not a member?  <a class="text-muted" asp-area="" asp-controller="Identity" asp-action="Register">Register</a></p>       
    </div>
    
    @if (DateTime.Now.Year > 2022)
    {
        <p class="mt-5 mb-3 text-muted">&copy; 2022 - @DateTime.Now.Year</p>
    }
    else
    {
        <p class="mt-5 mb-3 text-muted">&copy; @DateTime.Now.Year</p>
    }
</main>

